<%-include('header')%>

 <nav class="fixed-top navbar navbar-expand-lg navbar-dark banner" style="background-color: #1DB9C3"; aria-label="Main navigation"> 
    <div class="container-fluid">
  
      <div class="container-fluid">
  
      <a class="navbar-brand" href="/">Home</a>
    </div>

  </div>
</nav>

  <hr>
  
  <div class="my-3 p-3 bg-body rounded shadow-sm"> <!--my-3 p-3 bg-body rounded shadow-sm -->
      <h1 class="border-bottom"><%= listTitle %> List:</h1> 
  
    <!-- FOREACH LOOP EJS HERE!!! -->
    <!-- NEWITEMADD HERE!!!! -->
      <% newItemAdd.forEach(function(newItem) { %>
  
        <!-- DELETE FORM HERE!!!! -->
      <form action="/delete" method="post">
        <div class="d-block"> <!--d-flex pt-3 -->
        
    <!-- NEWITEMADD HERE!!!! -->
        
        <li> <%= newItem.name %>
          <div class="d-block text-end">

    <!-- listItemBeingSelected HERE!!1 -->
            <button class="btn btn-sm btn-outline-danger" type="submit" name="listItemBeingSelected" value=<%= newItem.id %>>Delete</button>
          </div>

    <!-- hiddenDelListName HERE!!:  -->
        <input type="hidden" name="hiddenDelListName" value="<%= listTitle %>"></input> 
        </li>
        <hr>
      </div>
    </form>

    <% }) %>
  
<!-- NEWITEM VAR HERE!!! -->
      <div class="container-fluid add-div">
      <form class=" " action="/addNote" method="post">
          <input class="form-control me-2" type="text" name="newItem" placeholder="Add item HERE!!" autocomplete="off">

<!-- newItemHomeList LISTTITLE HERE!!! RES-->
          <button class="btn btn-outline-success" type="submit" name="newItemHomeList" value=<%= listTitle %>>Add</button> <!--  -->
      </form>
    </div>
  
  </div>
  
  </main>
  
  
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  <%-include('footer')%>